@import 'variables';


* {
    margin: 0;
    body {

        overflow-x: hidden;
       
        font-family: 'Open Sans', sans-serif;
        background-color: #F7FAFD;
        width: 100%;
        

        p, li{
            color: $color_text_descriptions;
            font-size: 18px;
        }


        
      }
  }
  

  