@mixin mobile_style($size) {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  
    img {
      width: $size;
    }
  }

@mixin buttons_style($font-size: 13px, $background-color: None) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: $font-size;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: $background-color;
  }

@mixin media_images_phone_for_tablet {
  @media screen and (max-width: 800px){
    @content;
  }
}

@mixin media_images_phone_for_smartphone {
  @media screen and (max-width: 450px){
    @content;
  }
}

@mixin media_white_blue_circles {
  @media screen and (max-width: 1240px){
    @content;
  }
}