* {
  margin: 0;
}
* body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif !important;
  background-color: #F7FAFD !important;
  width: 100%;
}
* body p, * body li {
  color: #818282;
  font-size: 18px;
}
* body h1, * body h2 {
  font-weight: 700;
}

/* Header */
header {
  background-color: #F7FAFD;
  width: 100%;
  position: fixed;
  padding: 0 70px 0 70px;
  padding-top: 15px;
  z-index: 999;
}
header nav {
  background-color: #F7FAFD;
  font-family: "Open Sans", sans-serif;
  color: #FF556E;
}
header nav .navbar-collapse {
  text-align: center;
}
header nav img {
  width: 100px;
}
header nav .nav-link {
  color: #818282;
  font-weight: 700;
  padding-right: 25px !important;
}
header nav .nav-link:hover {
  color: #FF556E;
}
header nav .nav-item button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #F7FAFD;
  color: #FF556E;
  padding: 6px 20px 6px 20px;
  border: 2px solid #FF556E;
}
header nav .nav-item button:hover {
  background-color: #FF556E;
  color: #F7FAFD;
}
header nav .dropdown-menu {
  padding: 7px 3px 7px 3px;
}
header nav .dropdown-menu li:nth-of-type(1), header nav .dropdown-menu li:nth-of-type(2) {
  border-bottom: 1px solid rgba(227, 234, 237, 0.5607843137);
}
header nav .dropdown-menu .dropdown-item {
  color: #818282;
  font-weight: 700;
}
header nav .dropdown-menu .dropdown-item:hover {
  color: #FF556E;
}

@media (min-width: 768px) {
  nav {
    position: fixed;
  }
}
#banner {
  padding-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#banner .banner_icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#banner .banner_icons img {
  width: 20px;
}
#banner .banner_icons .green_diamond {
  margin-left: 80px;
}
#banner .banner_icons .yellow_circle {
  margin-right: 7.5em;
}
#banner h1 {
  text-align: center;
  font-size: 66px;
}
#banner .banner_description {
  color: #818282;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  max-width: 746px;
  margin-top: 15px;
  margin-bottom: 19px;
}
#banner .banner_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
#banner .banner_buttons button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #FF556E;
  padding: 12px 25px 12px 25px;
  gap: 7px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: 2px solid #FF556E;
}
#banner .banner_buttons button:hover {
  background-color: #FFFBFC;
  color: #FF556E;
}
#banner .banner_buttons button:hover i {
  color: #FF556E;
}
#banner .banner_buttons button i {
  font-size: 15px;
  color: #FFFFFF;
}
#banner .banner_circle_white_right {
  position: relative;
}
#banner .banner_circle_white_right img {
  width: 400px;
  height: 400px;
  position: absolute;
  right: -220px;
  top: -225px;
}
@media screen and (max-width: 1100px) {
  #banner .banner_circle_white_right img {
    display: none;
  }
}
#banner .banner_circle_white_left {
  position: relative;
}
#banner .banner_circle_white_left img {
  width: 500px;
  height: 500px;
  position: absolute;
  left: -300px;
  top: -165px;
}
@media screen and (max-width: 1100px) {
  #banner .banner_circle_white_left img {
    display: none;
  }
}
#banner .banner_circle_blue img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 120px;
  top: 340px;
}
@media screen and (max-width: 1100px) {
  #banner .banner_circle_blue img {
    display: none;
  }
}
#banner .banner_container_phone {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  transition: 0.2s;
}
#banner .banner_container_phone img {
  width: 900px;
}
@media screen and (max-width: 900px) {
  #banner .banner_container_phone img {
    width: 600px;
  }
}
#banner .banner_container_phone:hover {
  transform: scale(0.9);
}
#banner #banner_container_circle_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 40px auto;
  gap: 90px;
}
#banner #banner_container_circle_cards .container_circle_cards .circle_cards {
  border-radius: 100px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: 23px;
  transition: transform 0.5s;
}
#banner #banner_container_circle_cards .container_circle_cards .circle_cards:hover {
  transform: rotate(360deg);
}
#banner #banner_container_circle_cards .container_circle_cards #circle_goals {
  background-color: #EBE7FA;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_goals i {
  color: #aa7eec;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_analysis {
  background-color: #DAF4EF;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_analysis i {
  color: #19CA94;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_settings {
  background-color: #F8E5EA;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_settings i {
  color: #FF556E;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_interaction {
  background-color: #F8F1DE;
}
#banner #banner_container_circle_cards .container_circle_cards #circle_interaction i {
  color: #FFB30F;
}
#banner #banner_container_circle_cards .container_circle_cards #things_done {
  background-color: #E1F2FA;
}
#banner #banner_container_circle_cards .container_circle_cards #things_done i {
  color: #4FB9E8;
}
#banner #banner_container_circle_cards .container_circle_cards span {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 900px) {
  .banner_circle_white_right .circle_white {
    width: 100px;
    height: 200px;
  }
}
@media (min-width: 900px) {
  .banner_circle_white_left .circle_white {
    width: 100px;
    height: 200px;
  }
}
@media (min-width: 1000px) {
  #banner_container_phone img {
    width: 300px;
  }
}

#description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-bottom: 100px;
}
#description #description_container_img {
  display: flex;
}
#description #description_container_img img {
  width: 500px;
}
#description #container_description_app_1 {
  width: 520px;
}
#description #container_description_app_1 h2 {
  font-size: 40px;
  padding-bottom: 20px;
  width: 400px;
}
#description #container_description_app_1 #text_description1 {
  color: #7E7E7E;
}
#description #container_description_app_1 #text_description1 p {
  padding-bottom: 20px;
}
#description #container_description_app_1 #text_description1 ul {
  padding-left: 20px;
  padding-bottom: 20px;
}
#description #container_description_app_1 #text_description1 ul li {
  padding-bottom: 15px;
}
#description #container_description_app_1 #text_description1 button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #FF556E;
  color: #FFFFFF;
  padding: 10px 27px 10px 27px;
  border: 2px solid #FF556E;
}
#description #container_description_app_1 #text_description1 button:hover {
  background-color: #FFFBFC;
  color: #FF556E;
}

#description_2 {
  padding-top: 100px;
  background-color: #E8EFF6;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-bottom: 100px;
}
#description_2 #container_button_and_description_2 #container_button_description_2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 250px;
  padding-bottom: 30px;
}
#description_2 #container_button_and_description_2 #container_button_description_2 button:first-child {
  background-color: #9A67E7;
  color: #FFFFFF;
}
#description_2 #container_button_and_description_2 #container_button_description_2 button {
  display: flex;
  color: #7E7E7E;
  padding: 5px 15px 5px 15px;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  background-color: #FFFBFC;
  border: none;
  cursor: pointer;
}
#description_2 #container_description_app_2 {
  width: 500px;
  color: #7E7E7E;
}
#description_2 #container_description_app_2 p {
  padding-bottom: 20px;
}
#description_2 #container_description_app_2 ul {
  padding-left: 0px;
  list-style: none;
}
#description_2 #container_description_app_2 ul li {
  padding-bottom: 10px;
}
#description_2 #container_description_app_2 ul li i {
  margin-right: 5px;
  color: #24CC99;
}
#description_2 #container_description_app_2 #description_app_2_buttons {
  margin-top: 12px;
}
#description_2 #container_description_app_2 #description_app_2_buttons button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #FF556E;
  color: #FFFFFF;
  padding: 8px 27px 8px 27px;
  border: 2px solid #FF556E;
}
#description_2 #container_description_app_2 #description_app_2_buttons button:hover {
  background-color: #FFFBFC;
  color: #FF556E;
}
#description_2 #container_description_app_2 #description_app_2_buttons button:nth-child(2) {
  background-color: #E8EFF6;
  border: 2px solid black;
  color: black;
}
#description_2 #container_description_app_2 #description_app_2_buttons button:nth-child(2):hover {
  background-color: black;
  color: #E8EFF6;
}
#description_2 #description_2_container_img img {
  width: 500px;
}

#screens {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}
#screens #container_screens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 50px;
  margin: 0 auto;
  gap: 20px;
}
#screens #container_screens .comment_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#screens #container_screens .comment_box hr {
  margin: 20px auto;
  width: 15%;
  border-color: rgba(126, 126, 126, 0.1725490196);
}
#screens #container_screens .comment_box .comment_user {
  height: 150px;
  max-width: 600px;
}
#screens #container_screens .comment_box .comment_user p {
  max-width: 290px;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
}
#screens #container_screens .comment_box .comment_user span {
  font-weight: 700;
  color: black;
}
#screens #container_screens .comment_box span {
  color: #FFB30F;
}
#screens #container_screens .container_customer_logos {
  margin: 50px 0 50px 0;
  grid-column: span 4;
  padding: 25px 30px 25px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background-color: white;
}
#screens #container_screens .container_customer_logos div:last-child {
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screens_stadistic_users {
  padding: 40px 0 40px 0;
  background-color: #E8EFF6;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#screens_stadistic_users #screen_stadistic_users {
  display: flex;
  flex-wrap: wrap;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic i {
  font-size: 45px;
  transition: transform 1s;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic i:hover {
  transform: rotate(360deg);
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic:nth-of-type(1) i {
  color: #aa7eec;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic:nth-of-type(2) i {
  color: #19CA94;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic:nth-of-type(3) i {
  color: #FF556E;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic:nth-of-type(4) i {
  color: #FFB30F;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic:nth-of-type(5) i {
  color: #4FB9E8;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic span {
  margin-top: 35px;
  font-size: 55px;
  font-weight: 700;
}
#screens_stadistic_users #screen_stadistic_users .counter_stadistic p {
  font-size: 15px;
}

#screens_phone_download .screens_green_diamond img {
  width: 20px;
  transform: translateY(99px);
  position: absolute;
  right: 180px;
}
#screens_phone_download .screens_yellow_circle img {
  width: 40px;
  transform: translateY(440px);
  left: 150px;
  position: absolute;
}
#screens_phone_download .screens_white_circle_right {
  position: relative;
}
@media screen and (max-width: 1100px) {
  #screens_phone_download .screens_white_circle_right {
    display: none;
  }
}
#screens_phone_download .screens_white_circle_right img {
  width: 400px;
  position: absolute;
  right: -220px;
  top: 110px;
}
#screens_phone_download .screens_white_circle_left {
  position: relative;
}
#screens_phone_download .screens_white_circle_left img {
  width: 400px;
  position: absolute;
  left: -230px;
  top: 248px;
}
#screens_phone_download #screens_container_phone_image {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#screens_phone_download #screens_container_phone_image img {
  width: 900px;
}
@media screen and (max-width: 900px) {
  #screens_phone_download #screens_container_phone_image img {
    width: 600px;
  }
}
#screens_phone_download #container_screens_description {
  max-width: 840px;
  margin: 25px auto;
}
#screens_phone_download #container_screens_description #container_screens_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
  padding-bottom: 35px;
}
#screens_phone_download #container_screens_description #container_screens_buttons button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #FF556E;
  padding: 12px 25px 12px 25px;
  color: #FFFFFF;
  display: flex;
  gap: 7px;
  align-items: center;
  border: 2px solid #FF556E;
}
#screens_phone_download #container_screens_description #container_screens_buttons button:hover {
  background-color: #FFFBFC;
  color: #FF556E;
}
#screens_phone_download #container_screens_description #container_screens_buttons button:hover i {
  color: #FF556E;
}

footer {
  border-top: 1px solid #E3EAED;
  padding-top: 15px;
}
footer #footer_container_groups {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding-bottom: 15px;
}
footer #footer_container_groups div p {
  font-weight: 700;
  padding-bottom: 15px;
  font-size: 19px;
}
footer #footer_container_groups div ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  font-size: 12px;
}
footer #footer_container_groups div li {
  padding-bottom: 10px;
  font-size: 12px;
}
footer #footer_container_groups div li i {
  padding-right: 20px;
}
footer #footer_container_groups #footer_social_links {
  display: flex;
  gap: 10px;
}
footer #footer_container_groups #footer_social_links .footer_circle_social_logos {
  background-color: rgba(153, 153, 153, 0.6);
  color: #FFFFFF;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #footer_container_groups #footer_social_links .footer_circle_social_logos:hover {
  background-color: rgb(153, 153, 153);
}
footer #footer_container_groups a {
  text-decoration: none;
  color: #818282;
}
footer #footer_copyright {
  text-align: center;
}
footer #footer_copyright span {
  color: #818282;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
